* {
    box-sizing: border-box;
}

h4 {
    margin: 0;
    padding: 20px;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #2874f0;
    font-size: 20px;
    color: #2874f0;
}

header ul {
    display: flex;
    background-color: #2874f0;
    justify-content: space-between;
    padding: 0px 10px;
    box-shadow: 1px 1px 3px #9e9a9a;
    position: sticky;
    top: 0px;
    margin: 0;
}

nav {
    float: left;
    width: 30%;
    background: #cfdae4;
    padding: 20px 0px;
    overflow-y: scroll;
    transition: width 0.3s ease-in;
    position: relative;
}



nav ul {
    list-style-type: none;
    padding: 0;

}

li a {
    display: inline-table;
    padding: 8px 8px;

}

section {
    display: flex;
    justify-content: center;
    max-height: calc(100vh - 90px);
    min-height: calc(100vh - 90px);
}

article {
    float: left;
    padding: 40px;
    background-color: #fff;
    overflow-y: scroll;
    transition: width 0.3s ease-in;
}

a {
    text-decoration: none;
    color: #3c424e;
}

body {
    overflow: hidden;
}


footer {
    background-color: #2874f0;
    padding: 10px;
    text-align: center;
    color: black;
    box-shadow: 0px -3px 5px 0px #beb6b6;
    position: sticky;
    bottom: 0px;
}

footer h4 {
    padding: unset;
}

.w-5 {
    width: 5%;
}

.w-95 {
    width: 95%;
}

/* .images {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
} */

#cardContainer {
    display: flex;
    flex-wrap: wrap;
}

/* .Card {
    max-width: 300px;
    padding-top: 20px;

} */

.logo {
    max-width: 100px;
}


.flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

/* .flex1 {
    display: flex;
    justify-content: space-between;
}

.flex2 {
    display: flex;
    color: rgb(94, 183, 235);
    border: 2px solid rgb(94, 183, 235);
    border-radius: 5px;
    font-size: 12px;
    width: 180px;
    height: 25px;
    align-items: center;
    justify-content: center;

} */

p {
    font-size: small;
}

li {
    background-color: #a5bdc8;
    border-radius: 0px 20px 20px 0px;
}

.collapse-icon {
    position: absolute;
    bottom: 30px;
    right: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in;
}

/* .collapse-icon:hover {
    transform: scale(2);
    transition: transform 0.3s ease-in;
}  */

.itemContainer {
    width: 30%;
    margin-top: 4%;
    margin-left: 3%;
}

.cardDetails {
    display: flex;
    justify-content: space-between;
}

.addToCardBtn {
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.rightIcon {
    display: none;
    position: absolute;
}

.leftIcon {
    display: block;
    position: absolute;
}

header li {
    display: inline-block;
    list-style: none;
    background-color: #2874f0;
}

li a {
    text-decoration: none;
}

.border-l{
    border: unset;
    border-left: 1px solid;
    border-radius: 0px 4px 4px 0px;
}

.border-r{
    border: unset;
    border-right: 1px solid;
    border-radius: 4px 0px 0px 4px;
}

.button-container {
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: 4px;
    /* background-color: lightblue; */
}

.button-container button{
    padding:  10px 20px;
    cursor: pointer;
    user-select: none;
    background-color: unset;
    font-size: 20px;
    background-color: lightblue;
}

.button-container button:active{
    background-color: lightgray;
}

.card-desc{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



